altgraph==0.17.2
atomicwrites==1.4.1
attrs==21.4.0
colorama==0.4.5
future==0.18.2
iniconfig==1.1.1
mysql==0.0.3
mysql-connector-python==8.0.29
mysqlclient==2.1.1
packaging==21.3
pefile==2022.5.30
pluggy==1.0.0
protobuf==4.21.2
py==1.11.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
PySimpleGUI==4.60.1
pytest==7.1.2
pywin32-ctypes==0.2.0
tk==0.1.0
tomli==2.0.1
